@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
	font-family: Roboto;
	color: rgba(18,18,18,1);
	background-image: url("imgs/honeycomb.png");
}

p {
	background-color: rgba(222,222,222,.5);
	text-align: center;
}

img {
	display: block;
	margin: auto;
}

nav {
	background-color: rgba(222,222,222,.5);
	text-align: center;
	margin: 10 10;
}

nav a{
	color: rgba(18,18,18,1);
	text-decoration: none;
}

.one:hover{
	background-color: rgba(200,200,200,1);
}
