@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
	font-family: Roboto;
	color: rgba(18,18,18,1);
	background-image: url("imgs/honeycomb.png");
}

p, nav {
	text-align: center;
	margin-bottom: 10px;
}

img {
	display: block;
	margin: auto;
	border-radius: 15px;
}

nav a{
	color: rgba(18,18,18,1);
	text-decoration: none;
}

nav div:hover{
	background-color: rgba(200,200,200,1);
}
